* {
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue',sans-serif;

    margin: 0;
    padding: 0;
}

h2, h3 {
    color: black;
}

footer {
    padding: 12px;
    color: white;
    background-color: aqua;
    text-align: center;
    font-weight: bold;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav a:hover {
    font-weight: bold;
}

.profile header {
    text-align: center;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: aqua;
    text-align: center;
    color: white;
}

nav ul {
    padding-inline: 4rem;
    display: flex;
    gap: 2rem;
}

nav li {
    list-style-type: none;
}

nav {
    background-color: aquamarine;
    padding: 5px;
    position: sticky;
    top: 0;
}

main {
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    gap: 1rem 2rem;
}

aside {
    flex: 1;
}

header {
    display: inline;
}